USE [master]
GO
/****** Object:  Database [TacosBerna]    Script Date: 20/04/2018 08:07:08 a. m. ******/
CREATE DATABASE [TacosBerna]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'TacosBerna', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\TacosBerna.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'TacosBerna_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\TacosBerna_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [TacosBerna].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [TacosBerna]
GO
USE [TacosBerna]
GO
/****** Object:  Table [dbo].[Cargo]    Script Date: 20/04/2018 08:07:08 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Cargo](
	[Id_cargo] [int] NOT NULL,
	[Cargo] [varchar](50) NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Cliente]    Script Date: 20/04/2018 08:07:09 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Cliente](
	[Id_Cliente] [int] NOT NULL,
	[Nombres_Cliente] [varchar](50) NOT NULL,
	[Apellidos_Cliente] [varbinary](50) NOT NULL,
	[Telefono] [varchar](50) NOT NULL,
	[Direccion_Cliente] [varchar](50) NOT NULL,
	[Tipo_cliente] [varchar](50) NOT NULL,
	[FechaNacimiento] [date] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Empleo]    Script Date: 20/04/2018 08:07:09 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Empleo](
	[Id_tipo_personal] [int] NOT NULL,
	[Tipo_empleo] [varchar](50) NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Insumo]    Script Date: 20/04/2018 08:07:09 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Insumo](
	[Id_insumo] [int] NOT NULL,
	[Nombre_insumo] [varchar](15) NOT NULL,
	[Cantidad_insumo] [int] NOT NULL,
	[Unidad_medida_insumo] [nchar](10) NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Insumo_Producto]    Script Date: 20/04/2018 08:07:09 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Insumo_Producto](
	[Id_insumo] [int] NOT NULL,
	[Id_producto] [int] NOT NULL,
	[Cantidad_Insumo] [int] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Mesa]    Script Date: 20/04/2018 08:07:09 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Mesa](
	[Id_Mesa] [int] NOT NULL,
	[Capacidad] [int] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Pedido]    Script Date: 20/04/2018 08:07:09 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Pedido](
	[Id_Pedido] [int] NOT NULL,
	[Id_Cliente] [int] NOT NULL,
	[Tipo_Pedido] [varchar](50) NOT NULL,
	[Id_Mesa] [int] NOT NULL,
	[Id_Personal] [varchar](50) NOT NULL,
	[Fecha_Pedido] [date] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Personal]    Script Date: 20/04/2018 08:07:09 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Personal](
	[Id_personal] [int] NOT NULL,
	[Nombres] [varchar](50) NOT NULL,
	[Apellidos] [varchar](50) NOT NULL,
	[Id_tipo_personal] [int] NOT NULL,
	[Salario] [money] NOT NULL,
	[Direccion] [varchar](50) NULL,
	[Telefono] [varchar](50) NOT NULL,
	[Correo] [varchar](50) NULL,
	[Id_cargo] [int] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Producto]    Script Date: 20/04/2018 08:07:09 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Producto](
	[Id_Producto] [int] NOT NULL,
	[Precio_producto] [money] NOT NULL,
	[Tipo_producto] [varchar](50) NOT NULL,
	[Descripcion_producto] [varchar](50) NOT NULL,
	[Id_personal] [int] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Producto_Pedido]    Script Date: 20/04/2018 08:07:09 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Producto_Pedido](
	[Id_Pedido] [int] NOT NULL,
	[Id_Producto] [int] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Proveedor]    Script Date: 20/04/2018 08:07:09 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Proveedor](
	[Id_proveedor] [int] NOT NULL,
	[Nombre_proveedor] [varchar](30) NOT NULL,
	[Direccion_proveedor] [varchar](50) NOT NULL,
	[Telefono_proveedor] [varchar](12) NOT NULL,
	[Mail_proveedor] [varchar](20) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Proveedor_Insumo]    Script Date: 20/04/2018 08:07:09 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Proveedor_Insumo](
	[Id_Proveedor] [int] NOT NULL,
	[Id_insumo] [int] NOT NULL,
	[Precio_insumo] [money] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Venta]    Script Date: 20/04/2018 08:07:09 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Venta](
	[Id_Venta] [int] NOT NULL,
	[Fecha] [date] NOT NULL,
	[Subtotal] [money] NOT NULL,
	[Propina] [money] NOT NULL,
	[Total] [money] NOT NULL,
	[Efectivo] [money] NOT NULL,
	[Cambio] [money] NOT NULL,
	[Id_Pedido] [int] NOT NULL
) ON [PRIMARY]
GO
USE [master]
GO
